.container-cart {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    border: solid 1px gray
}
.container-img{
    width: 100px;
}
.img-cart {
    width: 100%;
}

.delete-icon{
    color: red;
    margin-top: 50px;
    cursor: pointer;

}
p {
    font-size: 20px;
}
